@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway');

$color-black: #141414; // Licorice     - Off-Black
$color-dark:  #2F3542; // Gunmetal     - Muted Navy
$color-bold:  #326273; // Myrtle Green - Muted Teal
$color-light: #DBD2CE; // Timberwolf   - Light Tan
$color-white: #F5F1ED; // Isabelline   - Light Cream

$color-dark-text: $color-black;
$color-light-text: $color-white;

$color-bg: $color-white;

$font-stack-heading: "Libre Baskerville", Baskerville, Times New Roman, serif;
$font-stack-content: "Raleway", Calibri, Verdana, sans serif;

/* FUNCTIONS ---------------------------------------------------------------- */
$browser-context: 16;

//https://css-tricks.com/snippets/sass/px-to-em-functions/
@function rem($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }
    
    @if (unitless($context)) {
        $context: $context * 1px;
    }
    
    @return $pixels / $context * 1rem;
}